:root {
    --main-color: #2a304d;
    --color: rgb(255 217 0);
}

header {
    padding: 5px 20px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    background-color: var(--main-color);
    font-family: "Fjalla One", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 75vw;
    margin: auto;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%);
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

nav > a {
    font-weight: bolder;
    color: var(--color);
    font-size: 47.5px;
    font-weight: 300;
}

nav ul li {
    font-weight: normal;
    text-transform: capitalize;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 100px 50px;
    height: 100vh;
    transform: translate(-100vw);
    transition: 0.5s ease-in-out;
    min-width: 30vw;
    font-size: 18px;
    font-family: "Open Sans";
    z-index: 255;
}

.sidenav a {
    color: white;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
}

.active {
    transform: translate(0);
}
.black_ {
    display: block;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.5s 0.2s ease-in-out;
    z-index: 220;
    pointer-events: none;
}

.display {
    background-color: rgba(0, 0, 0, 0.767);
    pointer-events: all;
}

.humburger {
    display: none;
    z-index: 260;
    display: block;
    cursor: pointer;
    fill: var(--color);
}
.close {
    color: white;
    position: absolute;
    top: 25px;
    right: 12%;
    font-size: 22px;
    cursor: pointer;
}

.sidenav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
}
@media (max-width: 997px) {
    header nav {
        margin: auto;
        width: 775px;
        padding: 10px;
    }
    header {
        padding: 10px 0px;
    }
}

@media (max-width: 775px) {
    header nav {
        width: auto;
    }
    .sidenav {
        min-width: 45vw;
    }
}

@media (max-width: 567px) {
    header nav {
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sidenav {
        padding: 100px 20px;
    }
}
