* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Second section */
.RRR{
    height: auto;
    width: 100%;
    background-color: #ffd900;
    font-family: "Fjalla One", sans-serif;
}
.RR-main{
    display: grid;
    width: 1125px;
    margin: 0px auto 20px auto;
    grid-template-columns: repeat(2,calc(1125px/2));
    grid-template-rows: 435px 450px;
    grid-template-areas:
        "RR-1 RR-2"
        "RR-3 RR-4";
    overflow: hidden;
    position: relative;
    top: 70px;
    flex-direction: column;
}
.RR-1{
    grid-area: RR-1;
    overflow: hidden;
}
.RR-1 img{
    width: 100%
}
.RR-2{
    grid-area: RR-2;
    background-color: white;
    color: gray;
    font-size: 20px;
    font-weight: normal;
    padding: 20% 60px 40px 45px;
}
.RR-2::first-line{
    font-size: 45px;
    color: black;
}
.RR-2 hr{
    margin-top: 15px;
    border: 5px solid #ffd900;
    width: 100%;
    margin-bottom: 40px;
    border-top: hidden;
}
.RR-Button{
    margin-top: 25px;
    cursor: pointer;
}
.RR-3{
    grid-area: RR-3;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.RR-3 img{
    width: 50%
}
.RR-list{
    background-color: #2a304d;
    width: 50%;
    color: white;
    font-size: 38px;
    padding: 120px 40px 0px 55px;
    line-height: 63px;
}
.RR-4{
    overflow: hidden;
}
.RR-4 img{
    position: relative;
    bottom: 200px;
}
.RR-last{
    background-image: url('../images/s_100.png');
    width: 100%;
    background-color: white;
    margin-top: 140px;
    height: 70px;
}
/* End Second section */


.refr-back{
background-color: #ffd900;
}

.refr-section{
    background-color: #ffd900;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.refr-section ol{
    padding: 15px;
}

.green-restaurants{
    display: inline-block;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 9% 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.main-heading{
    color: #2a304d;
    font-size: 55px;
    font-family: 'Fjalla One';
    padding-bottom: 4%;
    font-weight: 400;
}

.restaurants-lists{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 2%;
    font-style: italic;
}

.eco-friendly{
    display: inline-block;
    border: 2px solid #2a304d;
    background-color: #2a304d;
    padding: 12% 2%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.eco-heading{
    font-weight: 400;
    color: #cbcfe6;
    font-size: 55px;
    font-family: 'Fjalla One';
}

.eco-paragraph{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding-top: 3%;
    font-style: italic;
}


.mission_color{
    background-color: #2a304d;
}
.misway{
    display: flex;
    align-items: flex-end;
    padding: 100px 25px;
    flex-direction: column;
    background-color: #2a304d;
    gap: 25px;
    max-width: 1030px;
    margin: auto;
}

.mission-heading{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}

.green-ways{
    color: #cbcfe6;
    font-family: 'Fjalla One';
    font-size: 50px;
    border-bottom: 5px solid #ffd900;
    text-align: right;
    padding-left: 50px;
}

.paragraph-way{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 1%;
    
}

.paragraphs-div{
    position: relative;
}
/* Start Sec section */
@media(max-width:1200px){
    .RR-main{
        width: 850px;
        grid-template-columns: repeat(2,calc(850px/2));
        grid-template-rows: 330px 390px;
    }
    .RR-list{
        font-size: 27px;
        line-height: 48px;
    }
    .RR-2{
        padding-top: 9%;
        font-size: 15px;
    }
}
@media(max-width:991px){
    .RR-main{
        width: 750px;
        grid-template-columns:100%;
        grid-template-rows:repeat(4,485px);
        grid-template-areas: "RR-1" "RR-3" "RR-2" "RR-4";   
    }
    .RR-4 img{
        width: 100%
    }
    .RR-2{
        font-size: 20px;
        padding-top: 25%
    }
}
@media(max-width:767px){
    .RR-main{
        width: 567px;
        grid-template-rows: 500px 500px 350px 350px 100px;
        grid-template-columns:repeat(auto-fill,100%);
        grid-template-areas: "RR-1" "RR-3" "RR-3" "RR-2" "RR-2";
    }
    .RR-1 img{
        height: 100%
    }
    .RR-2{
        padding-top: 17%
    }
    .RR-3{
        flex-direction: column;
    }
    .RR-3 img{
        width: 100%;
        height: 500px;
    }
    .RR-list{
        width: 100%;
        height: 350px;
        padding: 57px 0px 40px 60px;
        font-size: 34px;
        line-height: 65px;
    }
    .RR-4{
        display: none;
    }
}
@media(max-width:575px){
    .RR-main{
        width: 250px;
        grid-template-rows: 250px 240px 150px 220px auto;
    }
    .RR-3 img{
        height: 62%;
    }
    .RR-list{
        height: 38%;
        padding: 13px 0px 40px 35px;
        font-size: 18px;
        line-height: 32px;
    }
    .RR-2{
        font-size: 15px;
        line-height: 32px;
        padding: 10% 25px 40px 20px;
    }
    .RR-2::first-line{
        font-size: 25px
    }
    .RR-2 hr{
        margin-bottom: 22px;
    }
}
/* End Sec Section */
@media (max-width: 875px) {
    .misway{
    max-width: 750px;
    }
    .green-ways {
        padding: 0;
    }
}

@media (max-width: 625px) {
    .refr-section{
        flex-direction: column;
        height: auto;
        padding: 25px;
        margin: auto;
        max-width: 500px;
    }
    .refr-section > *{
        margin-bottom: 0;
        margin-top: 0;
    }
    .refr-section h1{
        font-size: 40px;
    }
}
